html, body {
    background-color: white;
    font-family: 'Varela Round', sans-serif;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    opacity: 0.5;
  }
  
  .overlay:hover {
    opacity: 0.8;
  }

.tab-content>.active {
    display: flex;
}

.risk-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    //transition: .5s ease;
}

.risk-text {
    text-align: center;
}


.risk-card {
    border: 0;
}