html, body {
    background-color: white;
    font-family: 'Varela Round', sans-serif;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    opacity: 0.5;
  }

  .overlay:hover {
    opacity: 0.8;
  }

.tab-content>.active {
    display: flex;
}

.risk-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /* transition: .5s ease; */
}

.risk-text {
    text-align: center;
}


.risk-card {
    border: 0;
    background-color: transparent;
}

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 13px;
}

.wrap-input-full {
    width: 100%;
    position: relative;
    border: 2px solid #d9d9d9;
    padding-bottom: 13px;
    margin-bottom: 27px;
}

.label-input {
    font-size: 13px;
    color: #666666;
    line-height: 1.5;
    padding-left: 5px;
}

.input {
    display: block;
    width: 100%;
    background: transparent;
    font-size: 18px;
    color: #333333;
    line-height: 1.2;
    padding: 0 5px;
    outline: none;
    border: none;
}

input.input {
    height: 40px;
}

textarea.input {
    min-height: 110px;
    padding-top: 9px;
    padding-bottom: 13px;
    overflow: auto;
    resize: vertical;
    touch-action: manipulation;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.file-input {
    opacity: 0;
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    width: 200px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    height: 50px;
    display: block;
}

.file-input-container {
    background: #ffffff;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.imgupload {
    color: #d9d9d9;
    font-size: 7em;
}

.imgupload.ok {
    display: none;
    color: green;
}

.imgupload.stop {
    display: none;
    color: red;
}

.file-uploader {
    width:fit-content;
}

.file-uploader:hover > .btn {
    color: #fff;
    background-color: #011c33;
    border-color: #011c33;
    cursor: pointer;
}

.model-card:hover {
    color: #fff;
    background-color: #011c33;
    cursor: pointer;
}

.model-card > .card-text {
    color: #6c757d;
}

.model-card:hover > .card-text {
    color: #fff;
}

.card-group {
    display: flex;
    flex-flow: row wrap;
}

.card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
}

@media (max-width: 992px) {
    _::-webkit-full-page-media, _:future, :root .card-group > .card {
        height: 46.6px;
    }
}

@media (min-width: 992px) {
    _::-webkit-full-page-media, _:future, :root .card-group > .card {
        height: 76.6px;
    }
}

@media (min-width: 992px) {
    _::-webkit-full-page-media, _:future, :root .card-group > .card {
        height: 76.6px;
    }
}

.nav-tabs a {
    color: #5bc0de;
}

.text-lightgrey {
    color: #C5C6C7;
}

.archive-entry {
    margin: 1%;
    cursor: pointer;
}

@media (min-width: 576px) {

    .archive-gallery .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
    }
}

.search-box {
    width: 120px;
}

.archive-card-body {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    flex: 1 1 auto;
    min-height: 1px;
}

.search-row {
    justify-content: center;
    flex-wrap: nowrap;
    padding-bottom: 24px;
}

.upload-form {
    flex-flow: wrap;
}

.error-modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}

.error-modal-content .modal-header {
    border-bottom: none;
    position: relative;
}

.error-modal-content .icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #ef513a;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0 0 0 25);
}

.error-modal-content .icon-box svg {
    font-size: 56px;
    position: relative;
    top: 4px;
}

.error-modal-content h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}

.error-modal-content .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}

.error-modal-content .btn {
    color: #fff;
    border-radius: 4px;
    background: #ef513a;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}

.error-modal-container {
    margin-top: 80px;
}

.profile-pic {
    /*border-radius: 50%;*/
    /*border: 1px solid grey;*/
}

.pointer {
    cursor: pointer;
}

.bg-navy {
    background-color: #011c33;
}

.btn-navy,
.btn-navy.focus,
.btn-navy:focus {
    background-color: #011c33;
    border-style: none;
    color: white;
}

.btn-navy:hover,
.btn-navy.active,
.btn-navy:active,
.btn-navy.active.focus,
.btn-navy.active:focus,
.btn-navy.active:hover,
.btn-navy:active.focus,
.btn-navy:active:focus,
.btn-navy:active:hover,
.btn-navy:not(:disabled):not(.disabled).active {
    background-color: white !important;
    color: #011c33;
}

.btn-outline-navy,
.btn-outline-navy.focus,
.btn-outline-navy:focus {
    border-color: #011c33;
    color: #011c33;
}

.btn-outline-navy:hover,
.btn-outline-navy.active,
.btn-outline-navy:active,
.btn-outline-navy.active.focus,
.btn-outline-navy.active:focus,
.btn-outline-navy.active:hover,
.btn-outline-navy:active.focus,
.btn-outline-navy:active:focus,
.btn-outline-navy:active:hover,
.btn-outline-navy:not(:disabled):not(.disabled).active {
    background-color: #011c33 !important;
    color: white;
}
